body{
    background-image: url("Resources/background4.jpeg");
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2{
    margin-top: 2em;
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
}
header{
    position: fixed;
    top: 0;
    left: 0px;
    font-size: 2em;
    width: 100%;
    display: block;
    background-color: gray;
}
a, a:hover, a:visited{
    color: white;
    text-decoration: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1.3fr 1.1fr .8fr .8fr .8fr;
    text-align: center;
    font-weight: 700;
    top: 0;
}
.navbutton{
    border: solid 5px white;
    border-radius: .7em;
    margin: .1em;
}
.content{
    display: grid;
    grid-template-columns: 1fr;
}
.columns2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section{
    background-color: #24292E;
    justify-content: center;
    text-align: center;
    margin: 1em;
    padding: 1em;

}
.protoPics{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}
.thumb{
    width: 40em;
    height: 20em;
    padding: 1em;
    border: solid white 2px;
    /* margin-left: 5.5em; */
}
.thumb:hover {
    transform: scale(1.5,1.5);
  }
.boldContent{
    font-weight: 400;
    font-size: 2em;
}
.headshot{
    width: 25%;
    height: 25%;
    padding: 1em;
    border: solid white 5px;
}
/* .sectionContact1{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
table.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
